.App {
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Game-container {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.score {
  text-align: center;
}

.player {
  border: 1px solid #E1E1E1;
  border-radius: 15px;
  width: 50%;
  flex-grow: 1;
}

.computer {
  border: 1px solid #E1E1E1;
  border-radius: 15px;
  width: 50%;
  flex-grow: 1;
}

.replay {
  width: 100px;
  height: 50px;
  margin: 15px auto;
  background-color: #0253f9;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 20px;
}

img {
  transition: opacity 2s;
}

.hide {
  animation: fadeOut ease 0.7s;
  opacity: 0;
  visibility: hidden;
}

.show {
  animation: fadeIn ease 0.7s;
  opacity: 1;
}

.wins-color {
  color: #22a007;
  font-weight: bold;
}

.draws-color {
  color: #50614d;
  font-weight: bold;
}

.losses-color {
  color: #9c0711;
  font-weight: bold;
}

@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
